 
  <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up" >
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="about-content col-lg-6" data-aos="fade-up" data-aos-delay="150" >
            <p>
At Study-Site, we believe in the power of knowledge sharing. Our platform is a vibrant community where learners and educators come together to exchange ideas and resources freely. With a commitment to accessible education, we strive to empower individuals worldwide to learn, grow, and inspire others through the sharing of diverse learning materials. Join us in our mission to make learning accessible to all
           </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section>
