<section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up" >
          <h2>Testimonials</h2>
          <p>Don't take our word for it, hear from what our users say</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="https://picsum.photos/100/100" class="testimonial-img" alt="">
                  <h3>Sarah Williams</h3>
                  <h4>Marketing Executive</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
I stumbled upon Study Site while searching for educational resources, and I'm so grateful I did! The variety of materials available here is astounding, and the community is incredibly supportive. It's become my go-to destination for learning new things.                   
<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="https://picsum.photos/100/100" class="testimonial-img" alt="">
                  <h3>David Thompson</h3>
                  <h4>High School Teacher</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
As an educator, I've found Study Site to be an invaluable resource for supplementing my lessons. The ability to share my own materials and access content created by others has enriched my teaching and inspired creativity in my classroom.                   
<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="https://picsum.photos/100/100" class="testimonial-img" alt="">
                  <h3>Michaela Smith</h3>
                  <h4>Academic Researcher</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
Being able to share my knowledge and expertise on Study Site has been incredibly rewarding. It's amazing to see how my contributions have helped others on their learning journeys. This platform truly fosters a sense of community and collaboration                 
  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="https://picsum.photos/100/100" class="testimonial-img" alt="">
                  <h3>Emily Rodriguez</h3>
                  <h4>College Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
I've always been passionate about learning but struggled to find affordable resources. Study Site has been a game-changer for me. Not only are there tons of free materials available, but the quality is top-notch. Thank you for making learning accessible to everyone!                    
<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="https://picsum.photos/100/100" class="testimonial-img" alt="">
                  <h3>Alex Harrison</h3>
                  <h4>Freelance Writer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
I love how easy it is to navigate Study Site and find exactly what I need. Whether I'm studying for exams or just curious about a new topic, I know I can rely on this platform to provide reliable and engaging content.                   
<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
